body {
    background-image: url(../images/main_background.jpg);
    background-size: cover;
    p {
        color: whitesmoke;
    }
    h1{
        color: whitesmoke;
    }
    a {
        margin: 5px;
    }
}